# Machine Learning (ML) Basic
## Dataset
A data is an essential component of ML model and, a dataset definition in ML is “a collection of data that is treated as a single unit by a computer”. This means that a dataset contains a lot of separate pieces of data, but can be used to teach the machine learning algorithm to find predictable patterns inside the whole dataset.

**Splitting the Data: Training, Testing, and Validation Datasets in ML** - Usually, a dataset is used not only for training purposes. A single training set that has already been processed is usually split into several types of datasets in machine learning, which is needed to check how well the training of the model went. For this purpose, a testing dataset is typically separated from the data. Next, a validation dataset, while not strictly crucial, is quite helpful to avoid training your algorithm on the same type of data and making biased predictions.

## Simple data

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

data_origin = [[30, 100], [20, 50], [35, np.nan],
               [25, 80], [30, 70], [40, 60]]
data_origin

[[30, 100], [20, 50], [35, nan], [25, 80], [30, 70], [40, 60]]

In [2]:
# interpolation: replace missing value with mean value
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(strategy='mean')
imp_mean.fit(data_origin)

data_mean_imp = imp_mean.transform(data_origin)
print(data_mean_imp)

[[ 30. 100.]
 [ 20.  50.]
 [ 35.  72.]
 [ 25.  80.]
 [ 30.  70.]
 [ 40.  60.]]

In [3]:
# interpolation: apply interpolation to new data
new = [[20, np.nan],
       [30, np.nan],
       [np.nan, 70],
       [np.nan, np.nan]]

new_mean_imp = imp_mean.transform(new)
print(new_mean_imp)

[[20. 72.]
 [30. 72.]
 [30. 70.]
 [30. 72.]]

## Load dataset
One of the most well-known repositories for machine learning datasets is the [UCI Machien Learning Repository](https://archive.ics.uci.edu/). Most of the datasets over there are small in size because the technology at the time was not advanced enough to handle larger size data. Newer datasets are usually larger in size. For example, the ImageNet dataset is over 160 GB. These datasets are commonly found in [Kaggle](https://www.kaggle.com/datasets), and we can search them by name and download. [OpenML](https://www.openml.org/) is also, a repository that hosts a lot of datasets. It is convenient because you can search for the dataset by name, but it also has a standardized web API for users to retrieve data.

The repositories described above are a good place to start getting datasets, but you may also obtain datasets simply by downloading them from the web using a browser, the command line, a network library such as the wget tool, or a request in Python. *Scikit-learn* is an example where you can download the dataset using its API. Because some of these datasets have become standards or benchmarks, many machine learning libraries have created functions to help you retrieve them. For practical reasons, the datasets often don't come with the library and are downloaded in real time when you call the function, so you'll need a stable internet connection to use them. The related functions are defined under [`sklearn.datasets`](https://scikit-learn.org/stable/api/sklearn.datasets.html), and you may see the list of functions at:

In [4]:
import sklearn.datasets

# load california housing dataset (regression)
data = sklearn.datasets.fetch_california_housing(return_X_y=False, as_frame=True)
data = data["frame"]
print(data)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  MedHouseVal
0        -122.23        4.526
1        -122.22        3.585
2        -122.24        3.521
3        -122.25        3.413
4        -122.25        3.422
...          ...          ...
20635    -121.09        0.781
20636    -121.21        0.771
20637    -121.22        0.923
20638    -121.32        0.847
20639    -121.24        0.894

[20640 rows x 9 columns]

One good thing tat scikit-learn provides is the convenient ability to read any dataset from OpenML. Read dataset and run the logistic regression:

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.datasets import fetch_openml

#data = fetch_openml("diabetes", version=1, as_frame=True, return_X_y=False)
data = fetch_openml("titanic", version=6, as_frame=True, return_X_y=False)
print(data["frame"])

x, y = fetch_openml("titanic", version=6, as_frame=False, return_X_y=True)
clf = LogisticRegression(random_state=0).fit(x, y)
print("Accuracy: {:,}".format(clf.score(x, y)))   # accuracy
print("Coefficient:", clf.coef_)                  # coefficient in logistic regression

     Survived  Pclass  Sex  Age  Fare  Embarked  relatives  Title
0           0       3    0    2     0         0          1      1
1           1       1    1    5     3         1          1      3
2           1       3    1    3     0         0          0      2
3           1       1    1    5     3         0          1      3
4           0       3    0    5     1         0          0      1
..        ...     ...  ...  ...   ...       ...        ...    ...
886         0       2    0    3     1         0          0      5
887         1       1    1    2     2         0          0      2
888         0       3    1    1     2         0          3      2
889         1       1    0    3     2         1          0      1
890         0       3    0    4     0         2          0      1

[891 rows x 8 columns]
Accuracy: 0.8114478114478114
Coefficient: [[-0.75486619  2.23758245 -0.20788379  0.2806995   0.24340651 -0.36705508
   0.47881365]]

## Data types: Structured, Semi-structured, Unstructured
### Structured data
Structured data has clearly defined data types (e.g. “name” would be a string and “price” would be a float). Usually, structured data can be indexed. Roughly, if it is tabular, it is structured. 
- Common forms of structured data:
  - Spreadsheets
  - Tables in a SQL database
  - Vectors, matrices and n-dimensional arrays
- Common examples:
  - Daily stock market information
  - An inventory of a particular business
  - Daily marketing performance metrics
### Semi-structured Data
[Semi-structured data](https://en.wikipedia.org/wiki/Semi-structured_data) is a form of structured data that does not obey the tabular structure of data models associated with relational databases or other forms of data tables, but nonetheless contains tags or other markers to separate semantic elements and enforce hierarchies of records and fields within the data. Therefore, it is also known as self-describing structure. Semi-structured data are increasingly occurring since the advent of the Internet where full-text documents and databases are not the only forms of data anymore, and different applications need a medium for exchanging information. In object-oriented databases, one often finds semi-structured data.
- Common forms of semi-structured data:
  - XML (eXtensible Markup Language) and other markup languages files
  - JSON (JavaScript Object Notation) and other data interchange format files

In [14]:
import pandas as pd

customers = pd.DataFrame(
    data={
        'customer_id': ['1', '2', '3', '4'],
        'customerName': ['Gryffindor', 'Hufflepuff', 'Ravenclaw', 'Slytherin']
    }
)

orders = pd.DataFrame(
    data={
        'order_id': ['100', '101', '102', '103', '104'],
        'customer_id': ['1', '1', '3', '4', '4'],
        'product': [
            'Firebolt',
            'Pewter Cauldron',
            'Dragon Hide Gloves',
            'Polyjuice Potion',
            'Weasley Is Our King Buttons',
        ],
        'quantity': [1, 18, 10, 6, 120]
    }
)

display(orders)
print(orders.info(), '\n')

# left join
customer_orders = customers.merge(orders, on='customer_id', how='left')

display(customer_orders)
print(customer_orders.info())

  order_id customer_id                      product  quantity
0      100           1                     Firebolt         1
1      101           1              Pewter Cauldron        18
2      102           3           Dragon Hide Gloves        10
3      103           4             Polyjuice Potion         6
4      104           4  Weasley Is Our King Buttons       120

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5 non-null      object
 1   customer_id  5 non-null      object
 2   product      5 non-null      object
 3   quantity     5 non-null      int64
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None

  customer_id customerName order_id                      product  quantity
0           1   Gryffindor      100                     Firebolt       1.0
1           1   Gryffindor      101              Pewter Cauldron      18.0
2           2   Hufflepuff      NaN                          NaN       NaN
3           3    Ravenclaw      102           Dragon Hide Gloves      10.0
4           4    Slytherin      103             Polyjuice Potion       6.0
5           4    Slytherin      104  Weasley Is Our King Buttons     120.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   6 non-null      object
 1   customerName  6 non-null      object
 2   order_id      5 non-null      object
 3   product       5 non-null      object
 4   quantity      5 non-null      float64
dtypes: float64(1), object(4)
memory usage: 372.0+ bytes
None

### Unstructured Data
Unstructured data is pretty much everything that is not structured data, and it is also the most common data throughout the world. For example, it can't be structured due to having varying string lengths and different potential responders from different speakers.
- Common examples of unstructured data:
  - Text files, emails, social media comments, website contents, chats or pretty much anything that is freeform text.
  - Voice messages, phone calls, audio files.

# References
- [Kaggle](https://www.kaggle.com/datasets)
- [OpenML](https://www.openml.org/)
- [UCI Machien Learning Repository](https://archive.ics.uci.edu/)